<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--引入配置文件-->
    <property resource="config.properties"/>

    <!--控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d [%thread] %-5level %logger{56}.%method: %L -%msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.rootPath}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${logback.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{56}.%method: %L -%msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
    </root>
    <root level="error">
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </root>

</configuration>
