<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 扫描web包，应用Spring的注解 -->
    <context:component-scan base-package="com.cao.controller,com.cao.util"/>

    <!-- 配置视图解析器，将ModelAndView及字符串解析为具体的页面 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置静态文件地址-->
    <!--如果没有<annotation-driven/>， <resource/> 元素会拦截任意控制器被调用，从而DispatcherServlet不起作用-->
    <mvc:annotation-driven/>
    <mvc:resources mapping="/static/**" location="/static/"/>

    <!--配置项目跟路径为登陆页-->
    <mvc:view-controller path="/" view-name="redirect:/page/forward/menu/index"/>

</beans>